<ul class="nav-menu right">
    <li class="active">
        <NavLink href="/admin" class="nav-menu-link">
            All resumes
        </NavLink>
    </li>
    <li class="active">
        <NavLink href="/" class="nav-menu-link">
            Site
        </NavLink>
    </li>
    <li class="active">
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-menu-link">Log out</button>
        </form>
    </li>
</ul>

@code {

}
