<ul class="nav-menu left">
    <li class="active">
        <NavLink href="/" class="nav-menu-link">
            Home
        </NavLink>
    </li>
    <li class="active">
        <NavLink href="/about" class="nav-menu-link">
            About
        </NavLink>
    </li>
</ul>

@code {

}